@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

h1 {
  display: block;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

.container {
  display: block;
}

.board {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
  margin-top: 30px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: black;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 150px;
  font-family: 'Indie Flower', cursive;
}

.box:hover {
  background-color: pink;
  transition: background-color 0.3s linear;
}
